@model IEnumerable<Veteriner_MVC2.Models.MVCCalisanlarModel>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Yeni Ekle", "Ekle", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CalisanAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubeNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CalisanAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubeNo)
            </td>

            <td>
                <a href="@Url.Action("Ekle", "MVCCalisanlar", new { id = item.CalisanNo })" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i>Edit</a>
                <a onclick="Sil(@item.CalisanNo)" class="btn btn-success"><i class="glyphicon-trash"></i>Sil</a>
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
@*@section scripts{
        <script>
            $(function () {
                var successMessage = '@TempData["SuccessMessage"]';

                if (successMessage != '')
                    alertify.success(successMessage);

            });

            function Sil(id) {
                alertify.confirm('silme işlemi', 'Kayıtı silmek ister misiniz ? ', function () {
                    window.location.href = '@Url.Action("Sil", "MVCCalisanlar")/' + id;
                }, null);


            }

        </script>

    }*@

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]';

            if (successMessage != '')
                alertify.success(successMessage);

        });
        function Sil(id) {
            alertify.confirm('silme işlemi', 'Kayıtı silmek ister misiniz?', function () {
                window.location.href = '@Url.Action("Sil", "MVCCalisanlar")/' + id;
            }, null);


        }
    </script>

}


